[Unit]
Description=fwcloud-agent

[Service]
ExecStart=/bin/bash -ce "exec /opt/fwcloud/agent/fwcloud-agent >> /opt/fwcloud/agent/log/fwcloud-agent.log 2>&1"
ExecStop=/bin/kill -TERM "$MAINPID"
WorkingDirectory=/opt/fwcloud/agent/
SyslogIdentifier=fwcloud-agent
User=root
Group=root
Type=simple

[Install]
WantedBy=multi-user.target
